@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #A388EE;
  --secundary: #2FFF2F;
  --auxiliar: #3300FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #A388EE;
    --secundary: #2FFF2F;
    --auxiliar: #3300FF;
  }
}

body {
  background-color: var(--primary);
}

.box-shadow {
  box-shadow: 4px 6px black;
  border-radius: 3px;
}

.shape { 
  height: 100px;
  width: 100px;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background: var(--primary);
}
 